<% content_for :sidebar do %>
  <div class="portlet portletD" id="portlet_userWall">
    <h2><span><%= I18n.t('tog_picto.member.sidebar.your_stuff') %></span></h2>
    <div class="portlet_content">
      <%= link_to I18n.t('tog_picto.member.sidebar.upload_new_images'), new_member_picto_photo_url, {:class => "add", :title => I18n.t('tog_picto.member.sidebar.upload_new_images')} %>
    </div>
  </div>
<% end %>

<p><%= link_to I18n.t("tog_picto.member.sidebar.your_photosets"), member_picto_photosets_url %></p>

<div class="portlet portletG">
  <h2><span><%= I18n.t('tog_picto.member.photos.index.your_photos') %></span></h2>
    <div class="portlet_content">
        <ul class="clearfix">
          <% if @my_photos.empty? %>
            <li><%= I18n.t('tog_picto.photoset_photos.no_photos_yet') %></li>
          <% else %>
              <% @my_photos.each do |photo| %>
                <li><%= link_to image_tag(photo.image.url(:tiny)),
                            edit_member_picto_photo_url(photo),
                            {:title => photo.title} %></li>
              <% end %>
          <% end %>
        </ul>
    </div>
</div>
<% if !@my_photos.empty? %>
  <div class="info_results">
      <span class="info_items">
        <%= I18n.t('tog_picto.site.photos.index.photos_to_of', 
                   :start => (@my_photos.size > 0 ? (@my_photos.offset + 1) : '0'),
                   :end   => (@my_photos.size + @my_photos.offset),
                   :total => @my_photos.total_entries) %>
      </span>
      <span class="pages_navigation right">
          <%= will_paginate @my_photos %>
      </span>
  </div>
<%end%>
