<div class="detail detail1">
    <div class="image"><%= photoset_image(@photoset) %></div>
    <div class="title"><%= @photoset.title %></div>
    <div class="text">
        <p><%= @photoset.description %></p>
    </div>
</div> <!-- /.detail1 -->
<br/><br/>
<div class="portlet portletG">
  <h2><span><%= I18n.t('interface.site.photos') %></span></h2>
    <div class="portlet_content">
        <ul class="clearfix">
          <% if @photos.empty? %>
            <li><%= I18n.t('tog_picto.photoset_photos.no_photos_yet') %></li>
          <% else %>
              <% @photos.each do |photo| %>
                <li><%= link_to image_tag(photo.image.url("tiny")),
                            picto_photo_url(photo),
                            {:title => photo.title} %><br/><%=photo.title%></li>
              <% end %>
          <% end %>
        </ul>
    </div>
</div>
<% if !@photos.empty? %>
  <div class="info_results">
      <span class="info_items">
        <%= I18n.t('tog_picto.site.photos.index.photos_to_of', 
                   :start => (@photos.size > 0 ? (@photos.offset + 1) : '0'),
                   :end   => (@photos.size + @photos.offset),
                   :total => @photos.total_entries) %>
      </span>
      <span class="pages_navigation right">
          <%= will_paginate @photos %>
      </span>
  </div>
<%end%>
