<p><%= I18n.t('tog_picto.site.photos.index.latest_photos') %></p>
<div style="width:75%">
<% unless @latest_photos.blank? %>
  <% @latest_photos.each do |photo| %>
    <%= link_to image_tag(photo.image.url(:tiny)), picto_photo_url(photo), {:title => photo.title} %>
  <% end %>
  <div><%= I18n.t('tog_picto.site.photos.index.all_photo_tags') %>
    <ul>
      <% tag_cloud_photos %w(l1 l2 l3 l4 l5 l6 l7) do |tag, css_class| %>
        <li class="<%=css_class%>"><%= link_to tag, tags_picto_photos_path(:tag => tag.name) %></li>
      <% end -%>
    </ul>
  </div>
<% else %>
  <%= I18n.t('tog_picto.photoset_photos.no_photos_yet') %>
<% end %>
</div>

