<% content_for :sidebar do %>
  <div class="portlet portletD" id="portlet_userWall">
    <h2><span><%= I18n.t('tog_picto.member.sidebar.your_stuff') %></span></h2>
      <div class="portlet_content">
        <%= link_to I18n.t('tog_picto.member.sidebar.upload_new_images'), new_member_picto_photo_url, {:class => "add", :title => I18n.t('tog_picto.member.sidebar.upload_new_images')} %>
      </div>    
  </div>
<% end %>

<p><%= link_to I18n.t("tog_picto.member.sidebar.your_photosets"), member_picto_photosets_url %></p>

<%= error_messages_for :photoset %>

<% form_for :photoset, :url => member_picto_photosets_path, :html => {:id => "settings", :method => "post"} do |f| -%>

  <fieldset>
    <div class="fields">
       <p><label><%= I18n.t("tog_picto.member.photosets.new.title") %></label> <%= f.text_field :title, {:class => "fieldbox", :size => "40"} %></p>

       <p><label><%= I18n.t("tog_picto.member.photosets.new.description") %></label> <%= f.text_area :description, :size => '40x4' %></p>

       <p><label><%= I18n.t("tog_picto.member.photosets.new.tags_separated_by") %></label> <%= f.text_field :tag_list, {:class => "fieldbox", :size => "40"} %></p>

       <p><label><%= I18n.t("tog_picto.member.photosets.new.privacy") %></label><%= f.select :privacy, privacy_select_options %></p>

    </div>
  </fieldset>
  <br />
  <div class="actions">
    <%= submit_tag I18n.t("tog_picto.member.photosets.new.create_photoset"), :class => "button mainaction" %>
  </div>
<% end -%>
